hr {
    width: 75%;
    height: 2px;
    background-color: lightgray;
    bottom: 0;
    margin-bottom: 2%;
}

.aboutContainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
    margin-top: 6%;
}

.aboutContainer section {
    width: 90%;
}

#aboutUs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.aboutContainer section h2 {
    font-size: 2.5rem;
    color: hsl(210, 15%, 20%);
    margin-bottom: 1.4rem;
}

.aboutContainer section p {
    color: var(--light-text);
    margin-bottom: 0.8rem;
}

.aboutContainer ul {
    margin-bottom: 2rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    align-items: stretch;
    gap: 1rem;
}

.aboutContainer ul li {
    padding: 1rem;
    border: 1px dashed var(--primary-color);
    border-radius: 4px;
    color: var(--light-text);
    transition: 0.2s;
}

.aboutContainer ul li h3 {
    color: var(--primary-color);
    margin-bottom: 0.6rem;
    transition: 0.2s ease-out;
}

.aboutContainer ul li:hover {
    background-color: var(--primary-color);
    p {
        color: white;
    }
    h3 {
        padding-left: 0.3rem;
        color: #fff;
    }
}

.collaboratorsContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.collaboratorsContainer hr {
    background-color: lightgray;
    height: 2px;
    width: 75%;
    border: none;
}

.collaborator {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.collaborator .textContainer {
    border-left: 2px solid var(--primary-color);
    padding-left: 2rem;
    transition: 0.2s;
}

.textContainer:hover {
    border-color: hsl(210, 15%, 20%);
}

.collaborator .textContainer h3 {
    color: var(--primary-color);
    margin-bottom: 0.6rem;
    transition: 0.2s;
}

.textContainer:hover h3 {
    color: hsl(210, 15%, 20%);
}

.collaborator img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 0.2rem solid var(--light-text);
    transition: 0.2s;
    z-index: 0;
}

.collaborator img:hover {
    transform: scale(0.95);
}
