.chartContainer {
    display: grid;
    gap: 1.5rem;
}

.chartButtons {
    display: flex;
    gap: 0.5rem;
}

.chartButton,
.activeButton {
    background-color: transparent;
    color: var(--text-color);
    font-weight: bold;
    padding: 0.3rem 2rem;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.15s ease-out;
}

.chartButton:hover,
.activeButton:hover {
    transform: translateY(-0.2rem);
    background-color: var(--text-color);
    color: white;
}

.activeButton {
    background-color: var(--text-color);
    color: var(--primary-color);
}

.chartContainer canvas {
    padding: 2rem;
    box-shadow: -1px 1px 4px var(--shadow);
    background: var(--primary-bgc);
    border-radius: 4px;
}
