:root {
    --pros: hsl(144, 100%, 50%);
    --cons: hsl(0, 100%, 77%);
    --conclusion: hsl(210, 70%, 70%);
}

.feedbackContainer {
    display: grid;
    gap: 2rem;
}

.pros,
.cons,
.conclusion {
    padding: 1rem 2rem;
    border-left: 3px solid;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: 0.1s ease-out;
    color: #7a7a7a;
}

.pros h2,
.cons h2,
.conclusion h2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.pros h2 {
    color: var(--pros);
}

.cons h2 {
    color: var(--cons);
}

.conclusion h2 {
    color: var(--conclusion);
}

.pros:hover,
.cons:hover,
.conclusion:hover {
    transform: translateX(0.2rem);
}

.pros {
    border-color: var(--pros);
}

.cons {
    border-color: var(--cons);
}

.conclusion {
    border-color: var(--conclusion);
}
