:root {
    --pros: hsl(144, 60%, 45%);
    --cons: hsl(0, 57%, 60%);
    --conclusion: hsl(210, 70%, 60%);
    --hover-h2: hsla(0, 0%, 100%, 0.4);
}

.feedbackContainer {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 1rem;
}

.flexContainer {    
    width: 100%;
    display: flex;
    /* align-items: center; */
    gap: 1rem;
}

.pros,
.cons,
.conclusion {
    flex: 1;
    width: 100%;
    padding: 2rem;
    border: 1px solid;
    /* border-left: 3px solid; */
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    transition: 0.2s ease-out;
    color: var(--light-text);
}

.pros h2,
.cons h2,
.conclusion h2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: 0.2s ease-out;
}

.pros h2 {
    color: var(--pros);
}

.cons h2 {
    color: var(--cons);
}

.conclusion h2 {
    color: var(--conclusion);
}

.pros {
    border-color: var(--pros);
}

.pros:hover {
    background-color: var(--pros);
    color: white;

    h2 {
        padding-left: 0.3rem;
        color: var(--hover-h2);
    }
}

.cons {
    border-color: var(--cons);
}

.cons:hover {
    background-color: var(--cons);
    color: white;

    h2 {
        padding-left: 0.3rem;
        color: var(--hover-h2);
    }
}

.conclusion {
    border-color: var(--conclusion);
}

.conclusion:hover {
    background-color: var(--conclusion);
    color: white;

    h2 {
        padding-left: 0.3rem;
        color: var(--hover-h2);
    }
}

@media (max-width: 767px) {
    .flexContainer {
        flex-direction: column;
    }

    .pros,
    .cons,
    .conclusion {
        padding: 1.4rem; /* Reduzir o padding em telas pequenas */
    }

    .pros h2,
    .cons h2,
    .conclusion h2 {
        font-size: 1.2rem; /* Ajustar tamanho da fonte em telas menores */
    }
}
