.home {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    min-height: 100vh;
    padding: 4rem;
}

.home hr {
    border: none;
    background-color: #7a7a7a;
    height: 2px;
}

.title {
    font-size: 2.5rem;
    color: hsl(58, 100%, 100%);
}

.chartsContainer,
.feedbackContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
    gap: 2.4rem;
}
